body {
  background-color: white;
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: rgb(252, 246, 246);
}

.on {
  background-color: #17a2b8;
}

.box:hover {
  background: #17a2b8;
  cursor: pointer;
}

.grid {
  width: 800px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}

.btn-row {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  margin: 0 2px;
}

.btn-play {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-seed {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-pause {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-clear {
  background-color: #ffc107;
  border-color: #ffc107;
}

h1,
h2 {
  color: black;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}
